{% extends 'base.html' %} {% block content %}

<h3>Add Cuisine</h3>

<div class="row">
    <form action="{{url_for('insert_difficulty')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <label>Difficulty Level</label>
                <input placeholder="Difficulty Level" id="level" name="level" type="text" class="validate">
            </div>
            <!-- input-field -->
        </div>
        <!-- Row -->
        
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">web</i>
                <label>Difficulty Image Address</label>
                <input placeholder="Difficulty Image URL (format http://)" id="image_url" name="image_url" type="url" class="validate">
            </div>
            <!-- input-field -->
        </div>
        <!-- Row -->

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Difficulty Level
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
        <!--Row-->

    </form>
</div>
<!-- Row -->

{% endblock %}
