{% extends 'base.html' %} {% block content %}



<h3>Filtered By Cuisine</h3>

<div class="row">
    <form action="{{url_for('get_cuisine_filtered_recipes', cuisine_filter='French')}}" class="col s12">
        <div class="input-field col s12 l6">
            <i class="material-icons prefix">subject</i>
            <select id="cuisine_type" name="cuisine_type" type="text">
            <option value="" disabled selected>Choose Cuisine</option>
            {% for cuisine in cuisines %}
                <option value="{{cuisine.name}}">{{cuisine.name}}</option>
            {% endfor %}
        </select>
            <label>Cuisine Type</label>
        </div>
        <!-- input-field -->
        <input placeholder="Cuisine Name" id="name" name="name" type="text" class="validate">

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Filter By Cuisine
                <i class="material-icons right">filter</i>
            </button>
        </div>
        <!-- row -->

    </form>
</div>
<!--Row-->

{% endblock %}
