{% extends 'base.html' %} {% block content %}

<h3>Filter By Cuisine</h3>

<div class="row">
    <form class="col s12" method=[ 'POST']>
        <div class="input-field col s12 l6">
            <i class="material-icons prefix">subject</i>
            <ul id="cuisine_filter">
                {% for cuisine in cuisines %}
                <li><a href="{{url_for('get_cuisine_filtered_recipes', cuisine_filter=cuisine.name)}}">{{ cuisine.name }}</a></li>
                <h3>{{ cuisine.name }}</h3>
                {% endfor %}
            </ul>

            </select>
            <label>Cuisine Type</label>
        </div>
        <!-- input-field -->

</div>

<div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Filter By Cuisine
                <i class="material-icons right">filter</i>
            </button>

    </form>
    <br/>
    <br/>

</div>
<!--Row-->



{% endblock %}
