{% extends 'base.html' %} {% block content %}

<div id="recipe-cards" class="row">
  {% for recipe in recipes %}
  <div class="col s12 m6 l3 xl2">
    <div class="card">
      <div class="card-image">
        <img src="{{url_for('static', filename='images/earth.jpg')}}" width="600" height="300">
        <span class="card-title"><h4>{{recipe.recipe_name}}</h4></span>
      </div>
      <div class="card-content class-size">
        {{ recipe.blurb }}
      </div>

      <div class="card-action">
        <p></p>
        <a href="#">View Recipe</a>
        <p></p>
      </div>
    </div>
    <!-- more display -->
  </div>
  {% endfor %} {% endblock %}