{% extends 'base.html' %}
{% block content %}
        {% for recipe in recipes %}
            <p><h2>{{recipe.recipe_name}}</h2></p>
            <p>{{recipe.cuisine_type}}</p>
            <p>{{recipe.servings}}</p>
            <p>{{recipe.prep_time}}</p>
            <p>{{recipe.cook_time}}</p>
            <p>{{recipe.calories_per_serve}}</p>
            <p>{{recipe.difficulty}}</p>
            <p>{{recipe.blurb}}</p>
            <p>{{recipe.isfreezable}}</p>
            <p>{{recipe.ishealthy}}</p>
            <p>{{recipe.isvegan}}</p>
            <p>{{recipe.isvegetarian}}</p>
            <p>{{recipe.ingredients}}</p>
            <p>{{recipe.method}}</p>
            <p>{{recipe.difficulty}}</p>
        {% endfor %}
{% endblock %}
