{% extends 'base.html' %} {% block content %}

<div id="center-item">
    <div id="recipe-title">
        <h3>
            <p>{{recipe.recipe_name}}</p>
        </h3>
    </div>

    <div id="recipe-image">
        <img src="{{recipe.image_url}}" alt="{{recipe.recipe_name}}">
    </div>
</div>

<p>Contributor: {{recipe.contributor}}</p>
<p>Cuisine: {{recipe.cuisine_type}}</p>
<p>Servings: {{recipe.servings}}</p>
<p>Prep Time: {{recipe.prep_time}}</p>
<p>Cook Time: {{recipe.cook_time}}</p>
<p>Calories: {{recipe.calories_per_serve}}</p>
<p>Difficulty: {{recipe.difficulty}}</p>
<p>Description: {{recipe.blurb}}</p>
<p>Freezable: {{recipe.isfreezable}}</p>
<p>Healthy: {{recipe.ishealthy}}</p>
<p>Vegan: {{recipe.isvegan}}</p>
<p>Vegetarian: {{recipe.isvegetarian}}</p>
<p>Ingredients: {{recipe.ingredients}}</p>
<p>Method: {{recipe.method}}</p>
<p>Principle Ingredient: {{recipe.principle_ingredient}}</p>
{% endblock %}
